header{
    background-color: lightskyblue;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    position: sticky;
    top: 0;
}
body {
    background-image: url(imgstp1/confrontosimpfundo.png);
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
}
#cru {
    float: left;
    margin-top: 200px;
    margin-left: 200px;
    background-color: lightblue;
    color: blue;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    font-size: 24px;
}
footer {
    background-color: gray;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    position: sticky;
    bottom: 0;
    margin-top: 575px;
}
#galo {
    float: right;
    margin-top: 200px;
    margin-right: 200px;
    background-color: black;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    font-size: 24px;
}
#maior {
    font-size: 34px;
}
#menor {
    font-size: 34px;
}
#imgbotao {
    width: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}
