header {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    text-align: center;
    border-radius: 40%;
    position: sticky;
    top: 0;
}
#imgbotao {
    width: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}
body {
    background-image: url(imgstp1/fundogalo.png);
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
img {
    width: 350px;
}
p {
    font-size: 30px;
    color: white;
}
#esq {
    float: left;
    margin-left: 100px;
}
#dir {
    float: right;
    margin-right: 100px;
}
#meio {
    position: fixed;
    bottom: 0;
    left: 500px;
}
.elenco {
    font-size: 15px;
}
#doismiltres {
    position: absolute;
    margin-top: 175px;
    margin-right: 925px;
    margin-left: 100px;
    color: white;
    opacity: 0;
}
#doismiltres:hover {
    opacity: 1;
    background-color: black;
}
#milnove {
    position: absolute;
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 115px;
    color: white;
    opacity: 0;
}
#milnove:hover {
    opacity: 1;
    background-color: black;
}
#doismiltreze {
    position: absolute;
    margin-top: 400px;
    margin-left: 500px;
    margin-right: 525px;
    color: white;
    opacity: 0;
}
#doismiltreze:hover {
    opacity: 1;
    background-color: black;
}
