body{
    background-image: url(imgstp1/fundogalo.png);
}

h1{
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.2em white;
    font-size: 40px;
}

#esq{
    max-width: 500px;
    max-height: 500px;
    margin-left: 850px;
    float: left;
}

#p{ 
    color: white;
    font-size: 50px;
    text-align: center;
}
#imgbotao {
    width: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}
