#principal {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 15%;
}
#linksmenu {
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
#rodapedomenu {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    top: 800px;
}
body {
    background-image: url(imgstp1/mineirao.jpg);
    background-size: cover;
    min-height: 100%;
}
a {
    color:white;
}
a:visited {
    color: white;
}
#imagens{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 250px;
}
.x {
    display: block;
    margin: auto;
    margin-left: 400px;
}
#x {
    width: 100px;
}
#galo {
    width: 600px;
}
#cruzeiro {
    width: 250px;
}
div {
    display: inline-block;
}
.cruzeiro {
    float: left;
    margin-left: 600px;
}
.galo {
    float: right;
    margin-right: 500px;
}
