#principal {
    background-color: rgba(0, 0, 255, 0.363);
    color: white;
    text-align: center;
    border-radius: 40%;
    position: sticky;
    top: 0;
    font-family: 'Righteous', cursive;
}
#linksmenu {
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
#rodapedomenu {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    position: sticky;
    bottom: 0;
}
body {
    background-image: url(imgstp1/mineirao.jpg);
    background-size: cover;
    min-height: 100%;
}
a {
    color:white;
}
a:visited {
    color: white;
}
#imagens{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 250px;
}
.x {
    display: block;
    margin: auto;
    margin-left: 300px;
    margin-top: 100px;
}
#x {
    width: 125px;
}
#galo {
    width: 700px;
    scale: 1.0;
}
#galo:hover {
  scale: 1.3;
  transition: 0.3s;
}
#cruzeiro {
    width: 300px;
    scale: 1.0;
}
#cruzeiro:hover {
  scale: 1.3;
  transition: 0.3s;
}
div {
    display: inline-block;
}
.cruzeiro {
    float: left;
    margin-left: 200px;
    margin-top: -30px;
}
.galo {
    float: right;
    margin-top: -50px;
    margin-right: 50px;
}
.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 1s linear;
    opacity: 1;
    visibility: visible;
  }
  
  .desaparecido {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  
  .backdrop video {
    width: 100%;
  }
  .backdrop.desaparecido + #unmute {
    display: none;
  }
  #unmute {
    position: absolute;
    left: calc(50% - 0.75em);
    top: calc(50% - 0.75em);
    border-radius: 50%;
    border: 2px solid currentColor;
    background-color: rgba(255, 255, 255, .15);
    color: black;
    font-size: 2.5rem;
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
  }
  #unmute:hover {
    color: white;
  }
  #unmute:active {
    color: black;
    transform: translate(1px, 1px);
  }
  #unmute:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 4px yellow;
  }
  #unmute:active:focus {
    color: black;
    border-color: currentColor;
    box-shadow: none;
  }
