body {
    background-image: linear-gradient(rgb(14, 14, 100), rgba(0, 0, 0, 0.918));
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
}
#cru {
    width: 350px;
    float: left;
    margin-left: 100px;
}
#galo {
    width: 350px;
    float: right;
    margin-right: 60px;
}
header {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    position: sticky;
    top: 0;
    opacity: 0.7;
}
footer {
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    position: sticky;
    bottom: 0;
    margin-top: 535px;
}
div {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}
ol {
    float: left;
    margin-top: 150px;
    margin-left: 200px;
    background-color: black;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    font-size: 24px;
}
#imgbotao {
    width: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}
