body{
    background-image: url(imgstp1/fundocruzeiro.png);
}

h1{
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow:  1px 1px 2px black, 0 0 1em rgba(0, 0, 255, 0.199), 0 0 0.2em rgba(0, 0, 255, 0.199);
    font-size: 40px;
    background-color: blue;
    border-radius: 15%;
}

table, th, td{
    border:2px solid black;
}
  
table{
    border-collapse:collapse;
    margin: auto;
    margin-top: 85px;
    background-color: white;
}

th,td{
    border:3px solid rgb(112, 212, 255);
    padding: 10px;
    text-align: center;
    width: 120px;
}

th{
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #5088f158;
    }

tr:hover:nth-child(1n + 2) {
        background-color: #8ad6ff63;
        color: #2f54f5fb;
        }
        

#imgbotao {
    width: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 50%;
}

